# Python / Entornos
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv/
env.bak/
venv.bak/

# Node
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Base de datos local y archivos excel 
*.db
*.sqlite
*.sqlite3
*.csv
*.xlsx
~$*.xlsx

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
